body {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  background: #f0f0f0;
  color: #3e4651;
}

.header {
  padding-top: 1em;
  margin-bottom: 3em;
}

img.profile {
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.header h1 {
  padding-top: 1.5em;
  margin-bottom: .2em;
}

.header h2 {
  font-weight: normal;
  font-style: italic;
}

a, a:visited {
  text-decoration: none;
  color: #f1654c;
}

a:hover {
  text-decoration: underline;
  color: #c9432a;
}

.header a {
  text-decoration: none;
  color: #3e4651;
}

.sidebar-item {
  text-align: right;
  margin-bottom: 1.5em;
}

.find-me a {
  color: #3e4651;
  margin-left: .5em;
}

.find-me a:hover {
  color: #f1654c;
}

.main {
  line-height: 1.4em;
}

.main img {
  max-width: 100%;
}

.main ul {
  list-style: disc;
  padding-left: 3em;
}

.sidebar-item ul {
  padding: 0;
}

code, code.inline {
  font-family: 'Ubuntu Mono', monospace !important;
  color: #f1654c;
  font-size: 0.95em;
}

.index-nav {
  margin-top: 4em;
}

.index-nav a, .index-nav a:visited {
  padding: .5em 1em;
  color: #f0f0f0;
  background-color: #f1654c;
  border: 1px solid #f1654c;
}

.index-nav a:hover {
  text-decoration: none;
  background-color: #c9432a;
}

.pull-right {
  text-align: right;
}

#post pre {
  overflow: scroll;
}

.post-base {
  margin-bottom: 2em;
}

.post-title {
  font-size: 1.5em;
}
