<div class="index">
  <%= Enum.map @content, fn(post) ->
    """
    #{post.content}
    <hr class="post-base" />
    """
  end %>

  <div class="index-nav">
    <div class="four columns alpha">
      <%= @prev %> &nbsp;
    </div>
    <div class="four columns alpha omega">&nbsp;</div>
    <div class="four columns omega pull-right">
      <%= @next %> &nbsp;
    </div>
  </div>
</div>
