<!DOCTYPE html>
<html>
  <head>
    <title>Benny Hallett | eat sleep code repeat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= @css %>
    <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css" />
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css' />
    <%= @js %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-9971151-1', 'bennyhallett.com');
        ga('send', 'pageview');

      </script>
  </head>

  <body>
    <div class="container">
      <div class="row header">
        <a href="http://bennyhallett.github.io"><img src="assets/img/profile.jpeg" alt="Benny Hallett" class="profile" /></a>
        <h1><a href="http://bennyhallett.github.io">Benny Hallett</a></h1>
        <h2>eat sleep code repeat</h2>
      </div>

      <div class="row main">
        <div class="twelve columns alpha">
          <%= @content %>
        </div>
        <div class="four columns omega">
          <div class="sidebar-item">
            <ul class="nav">
              <ul><a href="about.html">About me</a></ul>
              <!-- <ul><a href="projects.html">Projects</a></ul> -->
            </ul>
          </div>

          <div class="sidebar-item">
            <ul class="nav">
              <ul><a href="http://elixirquiz.github.io" target="_">Elixir Quiz</a></ul>
              <ul><a href="http://github.com/bennyhallett/obelisk" target="_">Obelisk</a></ul>
              <ul><a href="http://github.com/bennyhallett/anubis" target="_">Anubis</a></ul>
              <ul><a href="http://github.com/bennyhallett/elixir-rss" target="_">Elixir RSS</a></ul>
            </ul>
          </div>

          <div class="sidebar-item find-me">
            <a href="http://twitter.com/bennyhallett" target="_"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="http://github.com/bennyhallett" target="_"><i class="fa fa-github fa-2x"></i></a>
            <a href="http://stackoverflow.com/users/109246/benny" target="_"><i class="fa fa-stack-overflow fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
